@charset "UTF-8";
/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
.header {
  font-family: 'Roboto', sans-serif;
  grid-area: header;
}

.headerlogo {
  max-width: 100%;
  width: 86px;
  height: 86px;
}

.header_list {
  margin: 0px 10px;
  color: transparent;
  -webkit-transition: color .6s;
  transition: color .6s;
}

.header_list:hover {
  /*background-image: linear-gradient(#080800,hsl(11deg 10% 63%)); me causa errores con scss debo arreglarlo*/
  background: -webkit-gradient(linear, right top, left top, from(#080800), color-stop(50%, #928d43), to(#3d2424));
  background: linear-gradient(to left, #080800, #928d43 50%, #3d2424 100%);
  opacity: 1;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.header_item {
  /* links espaciado */
  display: block;
  padding: 20px 8px;
  text-decoration: none;
  /* elimina hipervinculo */
  border-bottom: 1px solid #bebe37;
  font-size: 1rem;
  color: gold !important;
  /* Sirve para que esta propiedad se aplique sí o sí */
}

.header .social img {
  width: 30px;
  height: 26px;
}

/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
/*cuerpo index*/
.mainHero_titulo {
  font-size: 2rem;
  font-weight: 300;
}

.mainboton {
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  border-radius: 20px;
  background: burlywood;
  border-style: solid;
  display: inline-block;
  width: 140px;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  /* Para poner el cursor al posarse en el momento*/
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.mainboton:hover {
  background: #dfc098;
  -webkit-box-shadow: 0px 20px 36px -11px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 20px 36px -11px rgba(0, 0, 0, 0.3);
}

.maincarrusel {
  height: 480px;
  width: 1440px;
}

/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
.videotexto_contenedor {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #F8F7E7;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 36px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.videotexto_contenedor_cuerpo {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  grid-area: cuerpo;
}

.videotexto_contenedor_cuerpo h2 {
  text-align: center;
}

.tabs {
  background-color: #E8E4B3;
  border-bottom: 2px solid black;
}

.tabs_contenedor {
  grid-area: tabs;
}

.tabs_contenedor-interno {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
.contenedor_imagentabs {
  grid-area: imagen;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor_imagentabs-tabsimagen {
  width: 500px;
  height: 500px;
  padding: 3px 1px 32px 9px;
  margin: 8px -145px -1px -79px;
  transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
}

.contenedor_imagentabs-tabsimagen:hover {
  transform: rotate(-10deg) scale(1.2);
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
  -ms-transform: rotate(-10deg) scale(1.2);
}

/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
.cajas_texto1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.cajas_boton {
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black;
  border-radius: 20px;
  background: burlywood;
  border-style: solid;
  display: inline-block;
  width: 140px;
  text-decoration: none;
  cursor: pointer;
  /* Para poner el cursor al posarse en el momento*/
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.cajas_boton:hover {
  background: #dfc098;
  -webkit-box-shadow: 0px 20px 36px -11px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 20px 36px -11px rgba(0, 0, 0, 0.3);
}

.cajas .containerimagenes {
  position: relative;
  width: 100%;
  /* Animacion hover overlay */
}

.cajas .containerimagenes_overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* Para llamar a mi función de margenes*/
  height: 100%;
  width: 100%;
  /* Para llamar a mi función de mixin*/
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #d89e21;
}

.cajas .containerimagenes_text {
  color: #050000;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cajas .containerimagenes:hover .containerimagenes_overlay {
  opacity: 1;
}

.mainsection {
  background-color: #E8E4B3;
}

.mainsection_Titulo {
  padding-top: 50px;
  padding-left: 9px;
  font-family: 'Roboto', sans-serif;
}

.ContactoSection {
  background-color: black;
  width: 100%;
  padding-top: 8rem;
}

.ContactoSection form {
  background-color: whitesmoke;
}

/* MAPA en contenedorimagenes, footer y videotexto */
/* MAPA */
/* EXTEND en parcial _cajas y en _maincarrusel */
.alineadocentro, .mainboton, .cajas_boton {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Extend */
/* Mixin en header */
/* Fin Mixin */
/* Mixin en parciales cajas */
/* Para Margenes en parciales cajas*/
/* Fin Mixin */
.footer {
  border-top: 2px solid black;
  text-align: center;
  padding: 3px;
  background-color: #ddd571;
  color: black;
  grid-area: footer;
}

.footer_list {
  list-style: none;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */