@import "./vars";
@import "./utilitarias";
.footer{
    border-top: 2px solid $color-separadores;
    text-align: map-get($misestilos , centro );
    padding: 3px;
    background-color: #ddd571;
    color: black;
    grid-area: footer;
    &_list{
    list-style: none;
    padding: 10px;
    flex-direction: row;
    }
    
}