/* MAPA en contenedorimagenes, footer y videotexto */
$misestilos: (
    colorproductos:#d89e21,
    centro:center,
    fuente:20px
);
/* MAPA */

/* EXTEND en parcial _cajas y en _maincarrusel */

.alineadocentro{
    text-align: center;
    justify-content: center;

}
/* Extend */

/* Mixin en header */
@mixin logos ($ancho,$alto){
    width: $ancho;
    height: $alto;
}

/* Fin Mixin */


/* Mixin en parciales cajas */
@mixin tamano ($alto,$ancho){
    height: $alto;
    width: $ancho;
    
}
/* Para Margenes en parciales cajas*/
@mixin margenes ($izquierda, $derecha, $arriba, $abajo){
    left: $izquierda;
    right: $derecha;
    bottom: $arriba;
    top: $abajo;
    
}
/* Fin Mixin */

